Repository gothinkster/realworld-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:re, yarn format:md, yarn format:json

Fetch profile from API
  src/API.re
  src/Hook.re
  src/Profile.re
Due: yarn format:re

Implement Follow button in profile page
  src/App.re
  src/Hook.re
  src/Profile.re
Due: yarn format:re

Show "Edit Profile Settings" when current user wathcing itself profile
  src/Profile.re
Due: yarn format:re

Implement listing of articles
  src/Profile.re
  src/Utils.re
Due: yarn format:re

Add margin right to icon
  src/Profile.re
Due: yarn format:re

Add pagination to profile's page articles
  src/Home.re
  src/Hook.re
  src/Pagination.re
  src/Profile.re
Due: yarn format:re

Implement "favorite" button on article in profile page
  src/API.re
  src/Hook.re
  src/Profile.re
Due: yarn format:re

Add todo tests
  src/__tests__/Profile_test.re
Due: yarn format:re

Implement add comment in article page
  src/API.re
  src/Article.re
  src/Footer.re
  src/Home.re
  src/Hook.re
  src/__tests__/Profile_test.re
Due: yarn format:re

Don't provide empty src to profile avatar
  src/Profile.re
Due: yarn format:re

Unwrap user data and feed in profile page otherwise redirect to home
  src/App.re
  src/Settings.re
Due: yarn format:re

Add form state to Settings page
  src/Settings.re
Due: yarn format:re

Wrap form and password state in AsyncResult
  src/Settings.re
Due: yarn format:re

Add updateUser function to API
  src/API.re
  src/Settings.re
Due: yarn format:re

Parse error message from PUT user endpoint
  src/API.re
  src/Error.re
  src/Hook.re
  src/Settings.re
  src/Shape.re
Due: yarn format:re

Add DetailErrorMessage component
  src/API.re
  src/Settings.re
Due: yarn format:re

Use AsyncData and put error in third element of tuple
  src/Settings.re
Due: yarn format:re

Improve getting started guide
  readme.md
Due: yarn format:md

Fix make pgsql
  Makefile
Due: none

Improve circleci build
  .circleci/config.yml
Due: none

Use Nix for CircleCI tests
  .circleci/config.yml
  poetry.lock
  pyproject.toml
  shell.nix
  src/conduit/tests/postman/run-postman-tests.sh
Due: none

Manually remove enum34 as a dependency
  poetry.lock
Due: none

support building wheels
  shell.nix
Due: none

Develop and build with nix, nixos
  .circleci/config.yml
  .dockerignore
  .envrc
  .heroku/release.sh
  .heroku/run.sh
  Aptfile
  Dockerfile
  Makefile
  Procfile
  app.json
  heroku.yml
  readme.md
  runtime.txt
  shell.nix
  sources.json
Due: yarn format:md

Migrate from pipenv to poetry
  .circleci/config.yml
  .gitattributes
  .pre-commit-config.yaml
  Makefile
  Pipfile.lock
  poetry.lock
  poetry.toml
  pyproject.toml
  readme.md
  setup.py
  src/conduit/migrations/README.md
  src/conduit/scripts/drop_tables.py
  src/conduit/scripts/populate.py
Due: yarn format:md

Specify Python version in README
  readme.md
Due: yarn format:md

Update current user data after settings is updated
  src/App.re
  src/Hook.re
  src/Settings.re
Due: yarn format:re

Upgrade to pyramid_openapi 0.5.0b3
  .gitignore
  poetry.lock
  pyproject.toml
  src/conduit/article/views.py
  src/conduit/auth/views.py
  src/conduit/comment/views.py
Due: none

Implement fetching data from backend for Editor component
  src/Article.re
  src/Editor.re
  src/Hook.re
Due: yarn format:re

Implement invoking API to create or update article
  src/API.re
  src/Article.re
  src/DetailErrorMessage.re
  src/Editor.re
  src/Hook.re
  src/Settings.re
  src/Shape.re
Due: yarn format:re

Implement creating new article
  src/API.re
  src/Editor.re
Due: yarn format:re

Ensure only authenticated user can access editor page
  src/API.re
  src/App.re
  src/Article.re
  src/Hook.re
Due: yarn format:re

Fix failure Editor test suite
  src/__tests__/Editor_test.re
Due: yarn format:re

Mock profile endpoint
  src/__tests__/Editor_test.re
  src/__tests__/Login_test.re
  src/__tests__/Profile_test.re
  src/__tests__/Register_test.re
  src/__tests__/Settings_test.re
  src/__tests__/TestUtils.re
Due: yarn format:re

Fix failure Home tests
  src/__tests__/Home_test.re
  src/__tests__/Profile_test.re
Due: yarn format:re

Fix partially failure App tests
  src/__tests__/App_test.re
Due: yarn format:re

Fix failure App tests
  src/__tests__/App_test.re
Due: yarn format:re

Fix all failure tests
  src/__tests__/Article_test.re
  src/__tests__/Settings_test.re
Due: yarn format:re

Remove notice warning
  README.md
Due: yarn format:md

Automatically deploy to surge.sh
  .travis.yml
Due: none

Path conditions:
  yarn format:re: any of: {src,examples,__tests__}/**/*.{re,rei}
  yarn format:md: any of: ./*.md
  yarn format:json: any of: ./.{husky,lintstaged,prettier}rc
