Repository gothinkster/realworld-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:re, yarn format:md, yarn format:json

Changes
  README.md
  backend/README.md
  backend/src/main/kotlin/routes/Routes.kt
  backend/src/main/kotlin/routes/UserRouter.kt
  backend/src/test/kotlin/RealWorldClient.kt
  backend/src/test/kotlin/routes/RoutesIT.kt
  backend/src/test/kotlin/routes/UserRouterTest.kt
  gradle.properties
Due: yarn format:md

Update dependencies
  gradle.properties
Due: none

Chores
  backend/src/test/resources/postman/environment.json
Due: none

Add todo task
  README.md
Due: yarn format:md

Test improvements
  backend/src/test/kotlin/routes/RoutesIT.kt
  backend/src/test/kotlin/routes/TagsIT.kt
  backend/src/test/kotlin/routes/UserRouterTest.kt
  deploy/pre-push
Due: none

Implement tests
  backend/src/main/kotlin/Application.kt
  backend/src/main/kotlin/messages/ArticlesMessages.kt
  backend/src/main/kotlin/routes/ArticlesRouter.kt
  backend/src/test/kotlin/RealWorldClient.kt
  backend/src/test/kotlin/routes/ArticlesIT.kt
  backend/src/test/kotlin/routes/CommentsIT.kt
  backend/src/test/kotlin/routes/RoutesIT.kt
  backend/src/test/kotlin/routes/TagsIT.kt
  gradle/wrapper/gradle-wrapper.properties
Due: none

Improve documentation
  README.md
Due: yarn format:md

Improve documentation
  README.md
  backend/README.md
  deploy/README.md
  deploy/minikube.sh
Due: yarn format:md

Simplify error handling
  backend/src/main/kotlin/routes/ArticlesRouter.kt
Due: none

Add badges
  README.md
Due: yarn format:md

Update Hexagon
  gradle.properties
Due: none

Update to latest Hexagon version and test improvements
  backend/src/main/kotlin/routes/ArticlesRouter.kt
  backend/src/main/kotlin/routes/CommentsRouter.kt
  backend/src/main/kotlin/routes/Routes.kt
  backend/src/test/kotlin/RealWorldClient.kt
  backend/src/test/kotlin/routes/RoutesIT.kt
  backend/src/test/kotlin/routes/UserRouterIT.kt
  backend/src/test/kotlin/routes/UsersRouterIT.kt
  gradle.properties
Due: none

Refactor packages
  backend/src/main/kotlin/com/hexagonkt/realworld/Application.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/messages/ArticlesMessages.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/messages/CommentsMessages.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/messages/ProfileMessages.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/messages/RoutesMessages.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/messages/TagsMessages.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/messages/UserMessages.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/messages/UsersMessages.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/rest/Cors.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/rest/Jwt.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/routes/ArticlesRouter.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/routes/CommentsRouter.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/routes/ProfilesRouter.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/routes/Routes.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/routes/TagsRouter.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/routes/UserRouter.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/routes/UsersRouter.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/services/Article.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/services/Comment.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/services/User.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/RealWorldClient.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/rest/CorsIT.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/rest/JwtTest.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/ArticlesIT.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/CommentsIT.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/ProfilesRouterIT.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/RoutesIT.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/TagsIT.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/UserRouterIT.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/UsersRouterIT.kt
  frontend/src/main/kotlin/com/hexagonkt/realworld/Frontend.kt
Due: none

Refactor packages
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/it/ArticlesIT.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/it/CommentsIT.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/it/ProfilesRouterIT.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/it/RoutesIT.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/it/TagsIT.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/it/UserRouterIT.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/it/UsersRouterIT.kt
  frontend/build.gradle.kts
Due: none

Improve tests
  backend/src/test/kotlin/com/hexagonkt/realworld/RealWorldClient.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/it/CommentsIT.kt
Due: none

Improve tests
  backend/build.gradle.kts
  backend/src/main/kotlin/com/hexagonkt/realworld/routes/ArticlesRouter.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/messages/ArticlesMessagesTest.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/ArticlesRouterTest.kt
Due: none

Coverage, improvements and fixes
  README.md
  backend/src/main/kotlin/com/hexagonkt/realworld/routes/ArticlesRouter.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/WebApplicationTest.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/ArticlesRouterTest.kt
  deploy/pre-push.sh
  gradle.properties
Due: yarn format:md

development.ini inherits from production.ini
  .circleci/config.yml
  etc/development.ini
  etc/production.ini
Due: none

Upgrade python and python packages
  .circleci/config.yml
  Pipfile.lock
  runtime.txt
  src/conduit/article/models.py
  src/conduit/auth/models.py
Due: none

Set up front end pages
  frontend/README.md
  frontend/src/main/resources/pages/article.html
  frontend/src/main/resources/pages/create.html
  frontend/src/main/resources/pages/home.html
  frontend/src/main/resources/pages/login.html
  frontend/src/main/resources/pages/profile.html
  frontend/src/main/resources/pages/settings.html
  frontend/src/main/resources/templates/footer.html
  frontend/src/main/resources/templates/header.html
  frontend/src/main/resources/templates/layout.html
Due: yarn format:md

Add Keycloak
  docker-compose.yml
Due: none

Update Hexagon version
  backend/src/main/kotlin/com/hexagonkt/realworld/rest/Cors.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/routes/Routes.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/rest/CorsIT.kt
  build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Due: none

Remove travis config file.
  .travis.yml
Due: none

clear CircleCI venv cache
  .circleci/config.yml
Due: none

Avoid a warning when pytest tries to collect WebTest
  src/conduit/conftest.py
Due: none

Update to Python 3.8 (and re-lock pipenv)
  .circleci/config.yml
  .heroku/run.sh
  Pipfile
  Pipfile.lock
  readme.md
  runtime.txt
  setup.py
Due: yarn format:md

Wait for postgres service to be available
  .docker/devdb.sh
  .docker/testdb.sh
  .gitignore
Due: none

Enforce critical vars must be set
  etc/production.ini
Due: none

Implement nav and footer
  .eslintrc.json
  .gitignore
  .prettierrc.json
  index.html
  package-lock.json
  package.json
  src/app/footer.js
  src/app/index.js
  src/app/nav.js
  src/index.js
Due: none

Implement home
  index.html
  package-lock.json
  package.json
  src/app/actions/.eslintrc
  src/app/actions/home.js
  src/app/index.js
  src/app/router.js
  src/app/routes/home/article.js
  src/app/routes/home/index.js
  src/app/routes/home/sidebar.js
  src/app/services/conduit.js
  src/app/store/index.js
  src/app/store/reducers/home.js
  src/app/store/reducers/index.js
  src/index.js
  src/styles/main.css
Due: none

Add Article, CreateOrEditArticle, LoginOrRegister, Profile and Settings template
  src/Article.re
  src/CreateOrEditArticle.re
  src/LoginOrRegister.re
  src/Profile.re
  src/Settings.re
Due: yarn format:re

Add support for routing
  src/App.re
Due: yarn format:re

garden
  src/conduit/openapi.py
Due: none

Chores
  .gitignore
  gradle/wrapper/gradle-wrapper.properties
Due: none

Update readme.md
  readme.md
Due: yarn format:md

Upgrade Python packages
  Pipfile.lock
Due: none

readme update (framework name)
  readme.md
Due: yarn format:md

package.json, removed the instruction files
  BACKEND_INSTRUCTIONS.md
  FRONTEND_INSTRUCTIONS.md
  MOBILE_INSTRUCTIONS.md
  package.json
Due: yarn format:md

gitignore => package-lock
  .gitignore
Due: none

Path conditions:
  yarn format:re: any of: {src,examples,__tests__}/**/*.{re,rei}
  yarn format:md: any of: ./*.md
  yarn format:json: any of: ./.{husky,lintstaged,prettier}rc
