Repository gothinkster/realworld-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:re, yarn format:md, yarn format:json

Upgrade react-testing-library
  package.json
  yarn.lock
Due: none

Refactor partially code by using pipe first syntax
  src/Utils.re
Due: yarn format:re

Upgrade react-scripts to 2.1.3 and react-app-rewired to 2.0.0-next.0
  package.json
  yarn.lock
Due: none

Format all code
  src/App.re
  src/Article.re
  src/ArticleItem.re
  src/Comment.re
  src/Editor.re
  src/Errors.re
  src/FormBody.re
  src/Home.re
  src/Login.re
  src/Pagination.re
  src/Profile.re
  src/Register.re
  src/Settings.re
Due: yarn format:re

Upgrade bs-platform to 4.0.18
  package.json
  yarn.lock
Due: none

Create README.md
  README.md
Due: yarn format:md

Update README.md
  README.md
Due: yarn format:md

Upgrade dependencies
  config-overrides.js
  package.json
  yarn.lock
Due: none

Edit Readme from forked Starter Kit
  readme.md
Due: yarn format:md

Initial commit for React Native Expo project
  .gitignore
  .watchmanconfig
  App.js
  app.json
  assets/icon.png
  assets/splash.png
  babel.config.js
  package-lock.json
  package.json
Due: none

add node modules required
  package-lock.json
  package.json
Due: none

Upgrade dependencies
  package.json
  yarn.lock
Due: none

feature: add all scenes to stack navigator
  App.js
  src/screens/ArticleDetailsScreen.js
  src/screens/HomeScreen.js
  src/screens/LoginScreen.js
  src/screens/NewArticleScreen.js
  src/screens/SettingsScreen.js
  src/screens/SignUpScreen.js
Due: none

Adds constructor for axios api service.
  src/axios.js
Due: none

Adds http methods
  src/axios.js
Due: none

Instantiate conduit client.
  src/axios.js
  src/conduitService.js
Due: none

Moves files into service directory and adds preliminary routes.
  src/services/axios.js
  src/services/conduitService.js
  src/services/routes.js
Due: none

feature: add redux, redux persist, and redux dev tools
  App.js
  src/redux/store.js
Due: none

feature: add auth redux files
  src/redux/auth/actionTypes.js
  src/redux/auth/actions.js
  src/redux/auth/reducer.js
Due: none

feature: add styled text, views, and text input
  src/components/StyledText.js
  src/components/StyledTextInput.js
  src/components/StyledViews.js
Due: none

feature: add ux for signup screen
  src/screens/SignUpScreen.js
Due: none

Upgrade react / react-dom to 16.8.1
  package.json
  yarn.lock
Due: none

Changes configuration to handle default values properly.
  src/services/axios.js
  src/services/conduitService.js
Due: none

Passes signup parameters as user object.
  src/redux/auth/actions.js
Due: none

Upgrade reason-react to 0.6.0
  package.json
  yarn.lock
Due: none

Update yarn.lock
  yarn.lock
Due: none

Upgrade bs-webapi version
  package.json
  yarn.lock
Due: none

Temporary workaround for failure unit test
  src/__tests__/App_test.re
  src/__tests__/__snapshots__/App_test.bs.js.snap
Due: yarn format:re

Upgrade bs-platform to 5.0
  package.json
  src/Settings.re
  yarn.lock
Due: yarn format:re

Initial commit (based on another demo application)
  .editorconfig
  .gitignore
  README.md
  backend/Dockerfile
  backend/README.md
  backend/build.gradle.kts
  backend/src/main/kotlin/Application.kt
  backend/src/main/kotlin/DefaultInterconnectionsService.kt
  backend/src/main/kotlin/DefaultRoutesService.kt
  backend/src/main/kotlin/DefaultSchedulesService.kt
  backend/src/main/kotlin/Model.kt
  backend/src/main/kotlin/Services.kt
  backend/src/main/resources/logback.xml
  backend/src/main/resources/service.yaml
  backend/src/test/http/api.http
  backend/src/test/kotlin/ApplicationTest.kt
  backend/src/test/kotlin/DefaultInterconnectionsServiceTest.kt
  backend/src/test/kotlin/DefaultRoutesServiceTest.kt
  backend/src/test/kotlin/DefaultSchedulesServiceTest.kt
  backend/src/test/kotlin/FeaturesTest.kt
  backend/src/test/kotlin/Steps.kt
  backend/src/test/resources/features/connection.feature
  backend/src/test/resources/logback-test.xml
  backend/src/test/resources/service_test.yaml
  deploy/backend_rc.yml
  deploy/backend_svc.yml
  deploy/minikube.sh
  deploy/pre-push
  docker-compose.yml
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  settings.gradle.kts
Due: yarn format:md

Add Gradle Wrapper scripts
  gradlew
  gradlew.bat
Due: none

Add API specs and tests from Real World Demo
  backend/src/test/http/Conduit.postman_collection.json
  backend/src/test/http/README.md
  backend/src/test/http/run-api-tests.sh
  backend/src/test/http/swagger.json
Due: yarn format:md

Add ember project setup
  .editorconfig
  .ember-cli.js
  .eslintignore
  .eslintrc.js
  .template-lintrc.js
  .travis.yml
  .vscode/settings.json
  .watchmanconfig
  app/app.js
  app/index.html
  app/resolver.js
  app/router.js
  app/styles/app.css
  app/templates/application.hbs
  config/environment.js
  config/optional-features.json
  config/targets.js
  ember-cli-build.js
  jsconfig.json
  package-lock.json
  package.json
  public/robots.txt
  readme.md
  testem.js
  tests/index.html
  tests/test-helper.js
Due: yarn format:md

Set up continuous integration
  .travis.yml
  backend/Dockerfile
Due: none

Update documentation
  README.md
  logo.png
  readme.md
Due: yarn format:md

Fix build job
  .travis.yml
Due: none

Speed up the Travis job
  .travis.yml
  gradle.properties
Due: none

Upgrade react to 16.8.6
  package.json
  src/__tests__/App_test.re
  yarn.lock
Due: yarn format:re

Path conditions:
  yarn format:re: any of: {src,examples,__tests__}/**/*.{re,rei}
  yarn format:md: any of: ./*.md
  yarn format:json: any of: ./.{husky,lintstaged,prettier}rc
