Repository gothinkster/realworld-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:re, yarn format:md, yarn format:json

Update Real World example
  README.md
  deploy/pre-push
  docker-compose.yml
  gradle/wrapper/gradle-wrapper.properties
Due: yarn format:md

Upgrade bs-platform to 5.0.2
  package.json
  yarn.lock
Due: none

Upgrade Prettier 1.17.0 and format all source code
  package.json
  src/API.re
  src/Article.re
  src/FormBody.re
  src/Home.re
  src/Profile.re
  yarn.lock
Due: yarn format:re

scaffold
  .aspell.en.pws
  .circleci/config.yml
  .coveragerc
  .editorconfig
  .flake8
  .gitattributes
  .gitignore
  .heroku/release.sh
  .heroku/run.sh
  .isort.cfg
  .pre-commit-config.yaml
  Aptfile
  BACKEND_INSTRUCTIONS.md
  FRONTEND_INSTRUCTIONS.md
  MOBILE_INSTRUCTIONS.md
  Makefile
  Pipfile
  Pipfile.lock
  Procfile
  app.json
  etc/alembic.ini
  etc/development.ini
  etc/production.ini
  etc/test.ini
  mypy.ini
  readme.md
  runtime.txt
  setup.py
  src/conduit/__init__.py
  src/conduit/migrations/README.md
  src/conduit/migrations/env.py
  src/conduit/migrations/script.py.mako
Due: yarn format:md

expand env vars in settings
  .circleci/config.yml
  mypy.ini
  src/conduit/__init__.py
Due: none

use structlog for sane logging
  src/conduit/__init__.py
  src/conduit/tests/test_init.py
Due: none

fix make types command
  .mypy/type_coverage.py
  Makefile
  mypy.ini
Due: none

initial Postgres support
  .circleci/config.yml
  .docker/devdb.sh
  .docker/testdb.sh
  Makefile
  Pipfile.lock
  readme.md
  src/conduit/__init__.py
  src/conduit/conftest.py
  src/conduit/scripts/__init__.py
  src/conduit/scripts/drop_tables.py
Due: yarn format:md

Add badges
  LICENSE
  readme.md
  setup.py
Due: yarn format:md

Add the OpenAPI Document
  Makefile
  etc/test.ini
  src/conduit/__init__.py
  src/conduit/migrations/versions/9aa329ea9256_initial.py
  src/conduit/openapi.py
  src/conduit/openapi.yaml
  src/conduit/tests/test_openapi.py
Due: none

gardening readme
  readme.md
Due: yarn format:md

Run Postman tests in CircleCI
  .circleci/config.yml
  .gitignore
  Makefile
  readme.md
  src/conduit/tests/postman/Conduit.postman_collection.json
  src/conduit/tests/postman/Readme.md
  src/conduit/tests/postman/run-postman-tests.sh
Due: yarn format:md

Add the first endpoint: tags
  .circleci/config.yml
  Makefile
  mypy.ini
  readme.md
  src/conduit/__init__.py
  src/conduit/conftest.py
  src/conduit/migrations/versions/72a996e5a6ca_tags.py
  src/conduit/migrations/versions/9aa329ea9256_initial.py
  src/conduit/openapi.py
  src/conduit/scripts/populate.py
  src/conduit/scripts/tests/__init__.py
  src/conduit/scripts/tests/test_drop_tables.py
  src/conduit/scripts/tests/test_populate.py
  src/conduit/tag/__init__.py
  src/conduit/tag/models.py
  src/conduit/tag/tests/__init__.py
  src/conduit/tag/tests/test_tag_model.py
  src/conduit/tag/tests/test_tag_views.py
  src/conduit/tag/views.py
  src/conduit/tests/__init__.py
  src/conduit/tests/postman/run-postman-tests.sh
  src/conduit/tests/test_check_db_migrated.py
  src/conduit/tests/test_init.py
  src/conduit/tests/test_openapi.py
Due: yarn format:md

update TODOs
  readme.md
Due: yarn format:md

Upgrade CRA to 3.0
  package.json
  yarn.lock
Due: none

Upgrade husky to 2.0
  package.json
  yarn.lock
Due: none

Update browserslist for react-scripts 3.0
  package.json
Due: none

Change concurrently names
  package.json
Due: none

As per openapi.yaml, the default error response should be 422
  src/conduit/__init__.py
  src/conduit/openapi.py
  src/conduit/tests/test_openapi.py
Due: none

Add support for registering users (#7)
  Pipfile
  Pipfile.lock
  etc/development.ini
  etc/production.ini
  etc/test.ini
  mypy.ini
  src/conduit/__init__.py
  src/conduit/auth/__init__.py
  src/conduit/auth/models.py
  src/conduit/auth/tests/__init__.py
  src/conduit/auth/tests/test_auth_views.py
  src/conduit/auth/views.py
  src/conduit/conftest.py
  src/conduit/migrations/versions/17de12da1127_users.py
  src/conduit/openapi.py
  src/conduit/openapi.yaml
  src/conduit/scripts/populate.py
  src/conduit/scripts/tests/test_drop_tables.py
  src/conduit/tag/__init__.py
  src/conduit/tag/models.py
  src/conduit/tests/postman/run-postman-tests.sh
  src/conduit/tests/test_openapi.py
Due: none

Add /api/users/login endpoint (#8)
  src/conduit/auth/__init__.py
  src/conduit/auth/models.py
  src/conduit/auth/tests/test_auth_views.py
  src/conduit/auth/views.py
  src/conduit/conftest.py
  src/conduit/scripts/tests/test_drop_tables.py
  src/conduit/scripts/tests/test_populate.py
  src/conduit/tests/postman/run-postman-tests.sh
Due: none

Add support for PUT-ing current user data (#9)
  src/conduit/__init__.py
  src/conduit/auth/__init__.py
  src/conduit/auth/models.py
  src/conduit/auth/tests/test_auth_views.py
  src/conduit/auth/views.py
  src/conduit/openapi.py
  src/conduit/openapi.yaml
  src/conduit/scripts/populate.py
  src/conduit/tests/postman/run-postman-tests.sh
  src/conduit/tests/test_openapi.py
Due: none

Add support for following users and getting user profiles (#10)
  readme.md
  src/conduit/__init__.py
  src/conduit/auth/__init__.py
  src/conduit/auth/models.py
  src/conduit/auth/tests/test_auth_views.py
  src/conduit/auth/tests/test_user_model.py
  src/conduit/auth/views.py
  src/conduit/conftest.py
  src/conduit/migrations/versions/eb70668a123c_followers.py
  src/conduit/openapi.py
  src/conduit/profile/__init__.py
  src/conduit/profile/tests/__init__.py
  src/conduit/profile/tests/test_profile_views.py
  src/conduit/profile/views.py
  src/conduit/scripts/tests/test_populate.py
  src/conduit/tests/postman/run-postman-tests.sh
  src/conduit/tests/test_openapi.py
Due: yarn format:md

Use TypedDict instead of pydantic for declaring response schema (#11)
  Pipfile
  Pipfile.lock
  src/conduit/auth/models.py
  src/conduit/auth/tests/test_auth_views.py
  src/conduit/auth/tests/test_user_model.py
  src/conduit/auth/views.py
  src/conduit/migrations/versions/17de12da1127_users.py
  src/conduit/profile/models.py
  src/conduit/profile/tests/test_profile_model.py
  src/conduit/profile/views.py
  src/conduit/tag/views.py
Due: none

Upgrade dependencies
  package.json
  yarn.lock
Due: none

Update getting started docs
  readme.md
Due: yarn format:md

Add initial support for Articles (#13)
  Pipfile
  Pipfile.lock
  mypy.ini
  src/conduit/__init__.py
  src/conduit/article/__init__.py
  src/conduit/article/models.py
  src/conduit/article/tests/__init__.py
  src/conduit/article/tests/test_article_model.py
  src/conduit/article/tests/test_article_views.py
  src/conduit/article/views.py
  src/conduit/auth/tests/test_auth_views.py
  src/conduit/auth/tests/test_user_model.py
  src/conduit/conftest.py
  src/conduit/migrations/versions/6781acfc7c14_article.py
  src/conduit/openapi.py
  src/conduit/profile/models.py
  src/conduit/profile/tests/test_profile_model.py
  src/conduit/scripts/populate.py
  src/conduit/scripts/tests/test_populate.py
  src/conduit/tag/models.py
  src/conduit/tag/tests/test_tag_model.py
  src/conduit/tests/postman/run-postman-tests.sh
Due: none

Switches to go modules.
  Gopkg.lock
  Gopkg.toml
  go.mod
  go.sum
Due: none

proper implementation of tags (#15)
  src/conduit/article/models.py
  src/conduit/article/tests/test_article_model.py
  src/conduit/article/tests/test_article_views.py
  src/conduit/article/views.py
  src/conduit/conftest.py
  src/conduit/migrations/versions/54a3f0ecbe4e_proper_tags.py
  src/conduit/scripts/populate.py
  src/conduit/tag/models.py
  src/conduit/tag/tests/test_tag_views.py
Due: none

support for deleting an article
  src/conduit/article/tests/test_article_views.py
  src/conduit/article/views.py
Due: none

support for deleting an article (#16)
  src/conduit/article/tests/test_article_views.py
  src/conduit/article/views.py
Due: none

Add user's article feed (#17)
  readme.md
  src/conduit/article/__init__.py
  src/conduit/article/tests/test_article_views.py
  src/conduit/article/views.py
  src/conduit/tests/postman/run-postman-tests.sh
Due: yarn format:md

update modlues due to go modules checksum mismatch
  go.sum
Due: none

upgrade to echo v4 and add makefile
  .gitignore
  Makefile
  db/db.go
  go.mod
  go.sum
  handler/article.go
  handler/article_test.go
  handler/handler_test.go
  handler/request.go
  handler/response.go
  handler/routes.go
  handler/user.go
  handler/user_test.go
  main.go
  model/user.go
  router/middleware/jwt.go
  router/router.go
  utils/errors.go
Due: none

update travis go versions
  .travis.yml
Due: none

update makefile
  Makefile
Due: none

add GO111MODULE=on env to travis
  .travis.yml
Due: none

update makefile for travis build
  Makefile
Due: none

update travis go version in order to support Go Modules
  .travis.yml
Due: none

ignore default binary created with Makefile build
  .gitignore
Due: none

Path conditions:
  yarn format:re: any of: {src,examples,__tests__}/**/*.{re,rei}
  yarn format:md: any of: ./*.md
  yarn format:json: any of: ./.{husky,lintstaged,prettier}rc
