Repository gothinkster/realworld-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:re, yarn format:md, yarn format:json

.lintstagedrc:

{
  "{src,examples,__tests__}/**/*.{re,rei}": ["yarn format:re", "git add"],
  "./*.md": ["yarn format:md", "git add"],
  "./.{husky,lintstaged,prettier}rc": ["yarn format:json", "git add"]
}

Put logo back
  logo.png
Due: none

Put .travis.yml back
  .travis.yml
  package.json
Due: none

Use Node v10 in Travis
  .travis.yml
Due: none

Add .env to version control
  .env
Due: none

Use shields.io to generate badge
  README.md
Due: yarn format:md

Remove unused dependencies from README
  README.md
Due: yarn format:md

added .travis.yml
  .travis.yml
Due: none

siesta tests: routes
  test/siesta/realworld/tests/Main.mjs
Due: none

siesta tests: added delays to ensure the tests run stable
  test/siesta/realworld/tests/Main.mjs
Due: none

index.html: added the cayman theme
  cayman/assets/css/style.css
  index.html
Due: none

docs app adjustments
  dist/development/docs/app.js
  docs/app/view/MainContainer.mjs
  docs/output/structure.json
Due: none

index buttons adjustments, removed travis.yml
  .travis.yml
  index.html
Due: none

index => demo link
  README.md
Due: yarn format:md

RealWorld.view.HeaderComponent: cls polishing
  apps/realworld/view/HeaderComponent.mjs
Due: none

Update versions
  backend/src/main/kotlin/com/hexagonkt/realworld/Application.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/routes/ArticlesRouter.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/routes/CommentsRouter.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/routes/ProfilesRouter.kt
  backend/src/main/kotlin/com/hexagonkt/realworld/routes/UsersRouter.kt
  build.gradle.kts
  gradle.properties
Due: none

Adopt concurrently to start both webpack and bucklescript in one command
  package-lock.json
  package.json
Due: none

Add global configuration to index.html
  public/index.html
Due: none

Separate create and edit article page
  src/App.re
  src/Article.re
  src/Editor.re
  src/Profile.re
  src/Route.re
Due: yarn format:re

Add test cases for each route
  bsconfig.json
  package.json
  src/TestUtils.re
  src/__tests__/App_test.re
Due: yarn format:re

Add bs-fetch library and first basic hook
  bsconfig.json
  package-lock.json
  package.json
  public/index.html
  src/API.re
  src/Home.re
Due: yarn format:re

Start to implement fetching data for Home page
  bsconfig.json
  package-lock.json
  package.json
  src/API.re
  src/Home.re
  src/Shape.re
Due: yarn format:re

Fix CI error
  .travis.yml
  package.json
Due: none

Add setupTests.js
  src/setupTests.js
Due: none

Adopt bs-decode for safety JSON decoding
  bsconfig.json
  package-lock.json
  package.json
  src/API.re
  src/App.re
  src/AppError.re
  src/Home.re
  src/Shape.re
Due: yarn format:re

Change to Js.Date.t type for createdAt and updatedAt field
  src/Home.re
  src/Shape.re
Due: yarn format:re

Fetch tags from backend
  src/API.re
  src/Home.re
  src/Shape.re
Due: yarn format:re

Move custom hooks to Hook module
  src/Home.re
  src/Hook.re
Due: yarn format:re

Fetch current user info
  bsconfig.json
  src/API.re
  src/App.re
  src/Home.re
  src/Hook.re
  src/Shape.re
  src/Utils.re
Due: yarn format:re

Add rewriting notice to README
  README.md
Due: yarn format:md

Update Java JWT version
  gradle.properties
Due: none

Add gemfile with rb version, grape and rack.
  .ruby-version
  Gemfile
  Gemfile.lock
Due: none

/v1/ping endpoint funtions as a healthcheck with rack.
  app/api/conduit.rb
  config.ru
Due: none

Fix pre-push script
  deploy/pre-push.sh
Due: none

Upgrade react-scripts, concurrently and relude
  package-lock.json
  package.json
Due: none

Format all source code
  bsconfig.json
  package.json
  src/App.re
Due: yarn format:re

Add empty to each type of Shape
  src/API.re
  src/Hook.re
  src/Shape.re
Due: yarn format:re

Rename AppError to Error
  src/Error.re
  src/Home.re
  src/Hook.re
Due: yarn format:re

Safe routing using safe identifier
  src/Article.re
  src/Footer.re
  src/Header.re
  src/Home.re
  src/Link.re
  src/Login.re
  src/Profile.re
  src/Register.re
  src/Route.re
  src/Route.rei
Due: yarn format:re

Given abstract type a better name instead of t'
  src/Route.re
  src/Route.rei
Due: yarn format:re

Move location' type to Link module
  src/Article.re
  src/Footer.re
  src/Header.re
  src/Home.re
  src/Hook.re
  src/Link.re
  src/Link.rei
  src/Login.re
  src/Profile.re
  src/Register.re
  src/Route.re
  src/Route.rei
Due: yarn format:re
