Repository gothinkster/realworld-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:re, yarn format:md, yarn format:json

.lintstagedrc:

{
  "{src,examples,__tests__}/**/*.{re,rei}": ["yarn format:re", "git add"],
  "./*.md": ["yarn format:md", "git add"],
  "./.{husky,lintstaged,prettier}rc": ["yarn format:json", "git add"]
}

Remove followers count
  FRONTEND_INSTRUCTIONS.md
Due: yarn format:md

feat: add favicon
  favicon.ico
Due: none

Add white border to logo such that it is clear in dark mode
  logo.png
Due: none

Make border thicker
  logo.png
Due: none

chore: add MIT license
  LICENSE
Due: none

chore: add a code of conduct
  CODE_OF_CONDUCT.md
Due: yarn format:md

chore: remove instructions files
  BACKEND_INSTRUCTIONS.md
  FRONTEND_INSTRUCTIONS.md
  MOBILE_INSTRUCTIONS.md
  README.md
Due: yarn format:md

chore: update gitignore
  .gitignore
Due: none

fix: change demo URL link
  README.md
Due: yarn format:md

[add] Initial Commit 환경 설정
  .gradle/7.2/dependencies-accessors/dependencies-accessors.lock
  .gradle/7.2/executionHistory/executionHistory.lock
  .gradle/7.2/fileHashes/fileHashes.lock
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .gradle/buildOutputCleanup/cache.properties
  .gradle/checksums/checksums.lock
  .gradle/checksums/md5-checksums.bin
  .gradle/checksums/sha1-checksums.bin
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle
  src/main/java/pw/wlz/realworld/RealWorldApplication.java
  src/main/resources/application.yml
  src/test/java/pw/wlz/realworld/RealWorldApplicationTests.java
Due: none

[add] Initial Commit 환경 설정
  build.gradle
  settings.gradle
Due: none

[add] JaCoCo 설정 임시 테스트 설정
  .gitignore
  .gradle/7.2/executionHistory/executionHistory.lock
  .gradle/7.2/fileHashes/fileHashes.lock
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .gradle/checksums/checksums.lock
  .gradle/checksums/md5-checksums.bin
  .gradle/checksums/sha1-checksums.bin
  build.gradle
  src/main/java/pw/wlz/realworld/test/FooController.java
  src/main/resources/application.yml
  src/test/java/pw/wlz/realworld/test/FooControllerTest.java
Due: none

[change] lombok.config 추가 및 lombok gradle 플러그인으로 변경
  .gradle/7.2/executionHistory/executionHistory.lock
  .gradle/7.2/fileHashes/fileHashes.lock
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .gradle/checksums/checksums.lock
  .gradle/checksums/md5-checksums.bin
  .gradle/checksums/sha1-checksums.bin
  README.md
  build.gradle
  lombok.config
  src/main/java/pw/wlz/realworld/config/package-info.java
  src/main/resources/application-local.yml
  src/main/resources/application.yml
Due: yarn format:md

[change] 빌드 경로 .gitignore 추가
  .gitignore
Due: none

[change] 시큐리티 설정 반영
  .gitignore
  README.md
  build.gradle
  src/main/java/pw/wlz/realworld/config/security/AppSecurityConfigProperties.java
  src/main/java/pw/wlz/realworld/config/security/AppSecurityConfigurer.java
  src/main/resources/META-INF/additional-spring-configuration-metadata.json
  src/main/resources/application-local.yml
  src/main/resources/application.yml
Due: yarn format:md

Users module works, dirty code mostly
  .gitignore
  .nimble
  app/api/.env
  app/api/api.nimble
  app/api/rest.el
  app/api/schema/Conduit.postman_collection.json
  app/api/schema/run-api-tests.sh
  app/api/schema/swagger.json
  app/api/src/.migration.json
  app/api/src/api.nim
  app/api/src/config.nim
  app/api/src/core/auth.nim
  app/api/src/core/database.nim
  app/api/src/core/middleware.nim
  app/api/src/core/urls.nim
  app/api/src/core/views.nim
  app/api/src/users/.migration.json
  app/api/src/users/models.nim
  app/api/src/users/urls.nim
  app/api/src/users/views.nim
Due: none

Nimble tasks
  app/api/api.nimble
  app/api/rest.el
  app/api/src/api.nim
  app/api/src/config.nim
  app/api/src/core/auth.nim
  app/api/src/core/middleware.nim
  app/api/src/users/models.nim
  app/api/src/users/serializers.nim
  app/api/src/users/views.nim
Due: none

chore: create folders for the project
  api/.gitkeep
  web/.gitkeep
Due: none

Switched to allographer
  app/api/.env
  app/api/api.nimble
  app/api/nim.cfg
  app/api/rest.el
  app/api/src/api.nim
  app/api/src/core/database.nim
  app/api/src/core/events.nim
  app/api/src/core/middleware.nim
  app/api/src/core/views.nim
  app/api/src/users/.migration.json
  app/api/src/users/models.nim
  app/api/src/users/views.nim
Due: none

update labstack/gommon version to resolve compile error with go1.17 fixes #14
  go.mod
  go.sum
Due: none

next dependencies added
  .gitignore
  web/.gitkeep
  web/README.md
  web/package.json
  web/yarn.lock
Due: yarn format:md

first page for nextjs project added
  .gitignore
  web/next-env.d.ts
  web/package.json
  web/src/pages/index.tsx
  web/tsconfig.json
  web/yarn.lock
Due: none

prettier added
  web/.prettierrc.json
  web/src/pages/index.tsx
Due: none

paths added
  web/package.json
  web/src/modules/Home/HomeView.tsx
  web/src/pages/index.tsx
  web/tsconfig.json
  web/yarn.lock
Due: none

test config added
  web/.babelrc.json
  web/jest-setup.js
  web/jest.config.js
  web/package.json
  web/src/modules/Home/__test__/HomeView.test.tsx
  web/yarn.lock
Due: none

chore: generate a nest project
  api/README.md
  api/nest-cli.json
  api/package.json
  api/src/app.controller.spec.ts
  api/src/app.controller.ts
  api/src/app.module.ts
  api/src/app.service.ts
  api/src/main.ts
  api/test/app.e2e-spec.ts
  api/test/jest-e2e.json
  api/tsconfig.build.json
  api/tsconfig.json
Due: yarn format:md

chore: add prettier, eslint and gitignore files
  api/.eslintrc
  api/.gitignore
  api/.gitkeep
  api/.prettierrc
Due: yarn format:json

chore: delete testing files
  api/.eslintrc
  api/src/app.controller.spec.ts
  api/src/app.module.ts
  api/yarn.lock
Due: none

Change backend URL to api.realworld.io
  index.html
  src/public/robots.txt
Due: none

Upgrade dependencies: marked to v4, vite-plugin-rescript to v2
  package-lock.json
  package.json
  src/shared/Markdown.res
Due: none

Indicate current supported version of node and npm
  package.json
Due: none

Author's following field has been changed to optional
  src/shared/Hook.res
  src/shared/Shape.res
Due: none

Fix a mismatch of the following type
  src/page/Editor.res
Due: none

Create Sjenica1
  Sjenica1
Due: none

bump to dropwizard 2.0.28 and Java 17
  Dockerfile
  pom.xml
Due: none

docs: declaring safestack
  README.md
Due: yarn format:md

docs: change logo and some description
  README.md
  logo.png
Due: yarn format:md

feat: init safe stack project
  .config/dotnet-tools.json
  .editorconfig
  .gitignore
  .paket/Paket.Restore.targets
  .vscode/extensions.json
  Build.fs
  Build.fsproj
  Helpers.fs
  README.md
  global.json
  package-lock.json
  package.json
  paket.dependencies
  paket.lock
  paket.references
  realworld-starter-kit.sln
  src/Client/App.fs
  src/Client/Client.fsproj
  src/Client/Index.fs
  src/Client/index.html
  src/Client/paket.references
  src/Client/public/favicon.png
  src/Server/Server.fs
  src/Server/Server.fsproj
  src/Server/paket.references
  src/Shared/Shared.fs
  src/Shared/Shared.fsproj
  tests/Client/Client.Tests.fs
  tests/Client/Client.Tests.fsproj
  tests/Client/index.html
  tests/Client/paket.references
  tests/Server/Server.Tests.fs
  tests/Server/Server.Tests.fsproj
  tests/Server/paket.references
  tests/Shared/Shared.Tests.fs
  tests/Shared/Shared.Tests.fsproj
  tests/Shared/paket.references
  webpack.config.js
  webpack.tests.config.js
Due: yarn format:md

milestone: wip installing fable.reactstrap
  .gitignore
  Build.fsproj
  package-lock.json
  package.json
  paket.dependencies
  paket.lock
  paket.references
  src/Client/Index.fs
  src/Client/index.html
  src/Client/paket.references
  src/Server/Properties/launchSettings.json
  src/Shared/Shared.fs
Due: none

Update README.md
  README.md
Due: yarn format:md
