Repository gothinkster/realworld-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:re, yarn format:md, yarn format:json

Upgrade moduleserve to 0.9.0
  package-lock.json
  package.json
Due: none

gh-pages: publish the node_modules folder #1 testing
  .nojekyll
  _config.yml
Due: none

package.json update
  package.json
Due: none

Create greetings.yml
  .github/workflows/greetings.yml
Due: none

Create stale.yml
  .github/workflows/stale.yml
Due: none

package.json update: neo v1.0.10, removed gh-pages
  package.json
Due: none

removed _config.yml
  _config.yml
Due: none

build tests
  dist/development/apps/realworld/app.js
  dist/development/dataworker.js
  dist/development/main.js
  dist/development/vdomworker.js
  docs/index.html
Due: none

package.json update => latest neo version, added all neo.mjs dependencies to this repo, so that you don't need to run npm install on the neo node module itself
  package.json
Due: none

removed the app files (will get replaced with the latest version)
  apps/realworld/api/Article.mjs
  apps/realworld/api/Base.mjs
  apps/realworld/api/Favorite.mjs
  apps/realworld/api/Profile.mjs
  apps/realworld/api/Tag.mjs
  apps/realworld/api/User.mjs
  apps/realworld/api/config.mjs
  apps/realworld/views/FooterComponent.mjs
  apps/realworld/views/HeaderComponent.mjs
  apps/realworld/views/HomeComponent.mjs
  apps/realworld/views/MainContainer.mjs
  apps/realworld/views/MainContainerController.mjs
  apps/realworld/views/article/CommentComponent.mjs
  apps/realworld/views/article/Component.mjs
  apps/realworld/views/article/CreateCommentComponent.mjs
  apps/realworld/views/article/CreateComponent.mjs
  apps/realworld/views/article/PreviewComponent.mjs
  apps/realworld/views/article/TagListComponent.mjs
  apps/realworld/views/user/ProfileComponent.mjs
  apps/realworld/views/user/SettingsComponent.mjs
  apps/realworld/views/user/SignUpComponent.mjs
Due: none

added the latest app files
  apps/realworld/api/Article.mjs
  apps/realworld/api/Base.mjs
  apps/realworld/api/Favorite.mjs
  apps/realworld/api/Profile.mjs
  apps/realworld/api/Tag.mjs
  apps/realworld/api/User.mjs
  apps/realworld/api/config.mjs
  apps/realworld/app.mjs
  apps/realworld/view/FooterComponent.mjs
  apps/realworld/view/HeaderComponent.mjs
  apps/realworld/view/HomeComponent.mjs
  apps/realworld/view/MainContainer.mjs
  apps/realworld/view/MainContainerController.mjs
  apps/realworld/view/article/CommentComponent.mjs
  apps/realworld/view/article/Component.mjs
  apps/realworld/view/article/CreateCommentComponent.mjs
  apps/realworld/view/article/CreateComponent.mjs
  apps/realworld/view/article/PreviewComponent.mjs
  apps/realworld/view/article/TagListComponent.mjs
  apps/realworld/view/user/ProfileComponent.mjs
  apps/realworld/view/user/SettingsComponent.mjs
  apps/realworld/view/user/SignUpComponent.mjs
Due: none

adjusted the app file paths to framework files
  apps/realworld/api/Base.mjs
  apps/realworld/view/FooterComponent.mjs
  apps/realworld/view/HeaderComponent.mjs
  apps/realworld/view/HomeComponent.mjs
  apps/realworld/view/MainContainer.mjs
  apps/realworld/view/MainContainerController.mjs
  apps/realworld/view/article/CommentComponent.mjs
  apps/realworld/view/article/Component.mjs
  apps/realworld/view/article/CreateCommentComponent.mjs
  apps/realworld/view/article/CreateComponent.mjs
  apps/realworld/view/article/PreviewComponent.mjs
  apps/realworld/view/article/TagListComponent.mjs
  apps/realworld/view/user/ProfileComponent.mjs
  apps/realworld/view/user/SettingsComponent.mjs
  apps/realworld/view/user/SignUpComponent.mjs
Due: none

index: adjusted the appPath
  apps/realworld/index.html
Due: none

added app buildScripts
  buildScripts/webpack/development/build.json
  buildScripts/webpack/development/json/myApps.json
  buildScripts/webpack/development/webpack.config.myapps.js
  buildScripts/webpack/entrypoints/App.mjs
  buildScripts/webpack/entrypoints/myApps/RealWorld.mjs
  buildScripts/webpack/production/build.json
  buildScripts/webpack/production/json/myApps.json
  buildScripts/webpack/production/webpack.config.myapps.js
Due: none

first working app repo dev-build
  buildScripts/webpack/development/json/myApps.json
  dist/development/apps/realworld/app.js
  dist/development/dataworker.js
  dist/development/main.js
  dist/development/vdomworker.js
  package.json
Due: none

app prod build in place
  buildScripts/webpack/production/json/myApps.json
  dist/development/apps/realworld/index.html
  dist/production/apps/realworld/app.js
  dist/production/apps/realworld/index.html
  dist/production/dataworker.js
  dist/production/main.js
  dist/production/vdomworker.js
Due: none

readme & index update
  README.md
  index.html
Due: yarn format:md

readme polishing
  README.md
Due: yarn format:md

Fix CI build
  .travis.yml
Due: none

Use create-react-app 3.3.0 to develop and build application
  bsconfig.json
  index.html
  indexProduction.html
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/index.js
  src/serviceWorker.js
  src/setupTests.js
  watcher.js
  webpack.config.js
Due: none

Add prettier and `format` run-script
  .prettierignore
  .prettierrc
  bsconfig.json
  package-lock.json
  package.json
Due: yarn format:json

Add first minimum test
  bsconfig.json
  package-lock.json
  package.json
  src/__tests__/App_test.re
  src/setupTests.js
Due: yarn format:re

Add support for routing
  src/App.re
Due: yarn format:re

Add Article, CreateOrEditArticle, LoginOrRegister, Profile and Settings template
  src/Article.re
  src/CreateOrEditArticle.re
  src/LoginOrRegister.re
  src/Profile.re
  src/Settings.re
Due: yarn format:re

Extend eslint such that CRA could accept eslintignore config
  .eslintignore
  .eslintrc
  .github/workflows/greetings.yml
  .github/workflows/stale.yml
  package.json
  src/index.js
  src/serviceWorker.js
Due: none

Upgrade bs-platform to 7.x
  package-lock.json
  package.json
Due: none

Add a test suite for Settings
  src/__tests__/Settings_test.re
Due: yarn format:re

Remove unused file
  src/Index.re
Due: yarn format:re

Add test suite for Login and Register
  src/App.re
  src/Login.re
  src/Register.re
  src/__tests__/Login_test.re
  src/__tests__/Register_test.re
Due: yarn format:re

Add a test suite for Editor
  src/__tests__/Editor_test.re
Due: yarn format:re

Add test suites for Article and Profile
  src/__tests__/Article_test.re
  src/__tests__/Profile_test.re
Due: yarn format:re

Rename App_test to Home_test
  src/__tests__/Home_test.re
Due: yarn format:re

Add WithTestId component, update hrefs on Header
  src/Header.re
  src/WithTestId.re
  src/__tests__/App_test.re
Due: yarn format:re

Add slash to tne end of article link
  src/Header.re
Due: yarn format:re

Wrap pushing URL by act helper
  src/TestUtils.re
  src/__tests__/Article_test.re
  src/__tests__/Editor_test.re
  src/__tests__/Login_test.re
  src/__tests__/Profile_test.re
  src/__tests__/Register_test.re
  src/__tests__/Settings_test.re
Due: yarn format:re

Path conditions:
  yarn format:re: any of: {src,examples,__tests__}/**/*.{re,rei}
  yarn format:md: any of: ./*.md
  yarn format:json: any of: ./.{husky,lintstaged,prettier}rc
