Repository gothinkster/realworld-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: refmt --in-place, yarn format:md, yarn format:json

Add jest-fetch-mock for mocking http request
  package.json
  src/JestFetchMock.re
  src/__tests__/API_test.re
  src/setupTests.js
  yarn.lock
Due: refmt --in-place

add minimum tests for article and related stuff
  handler/article.go
  handler/article_test.go
  handler/handler_test.go
Due: none

Upgrade dependencies
  package.json
  src/Comment.re
  yarn.lock
Due: refmt --in-place

Add test:watch script
  package.json
Due: none

Add unit test for API.makeFetchInit function
  src/API.re
  src/__tests__/API_test.re
  src/__tests__/__snapshots__/API_test.bs.js.snap
Due: refmt --in-place

Open Belt.Result in API_test
  src/API.re
  src/__tests__/API_test.re
Due: refmt --in-place

Add unit test for API.listArticlesFeed function
  src/JestFetchMock.re
  src/__tests__/API_test.re
Due: refmt --in-place

Add unit test for API.listArticles function
  src/__tests__/API_test.re
Due: refmt --in-place

Complete API unit test
  src/__tests__/API_test.re
Due: refmt --in-place

Add `format` run-script
  .prettierignore
  README.md
  package.json
Due: yarn format:md

Add *.json to lintstagedrc
  .lintstagedrc
Due: yarn format:json

Upgrade react-scripts to 2.0.0-next.3e165448
  package.json
  yarn.lock
Due: none

Add unit test for makeLinkClass
  package.json
  src/__tests__/App_test.re
  src/__tests__/__snapshots__/App_test.bs.js.snap
Due: refmt --in-place

Upgrade bs-platform to 4.0
  package.json
  src/__tests__/__snapshots__/API_test.bs.js.snap
  yarn.lock
Due: none

Upgrade bs-platform to 4.0.1
  package.json
  src/__tests__/__snapshots__/API_test.bs.js.snap
  yarn.lock
Due: none

Upgrade bs-platform to 4.0.2
  package.json
  yarn.lock
Due: none

add golang environment config instructions
  readme.md
Due: yarn format:md

Upgrade bs-platform to 4.0.3
  yarn.lock
Due: none

Upgrade bs-json and bs-webapi
  package.json
  yarn.lock
Due: none

Upgrade reason-react to 0.5.3
  package.json
  src/API.re
  src/App.re
  src/Article.re
  src/ArticleItem.re
  src/Comment.re
  src/Decoder.re
  src/Editor.re
  src/Enzyme.re
  src/Errors.re
  src/FormBody.re
  src/Fragment.re
  src/Home.re
  src/Img.re
  src/JestFetchMock.re
  src/Login.re
  src/Pagination.re
  src/Profile.re
  src/Register.re
  src/Settings.re
  src/Utils.re
  yarn.lock
Due: refmt --in-place

add travis CI
  .travis.yml
Due: none

remove temp makefile
  Makefile
Due: none

add travis badge
  readme.md
Due: yarn format:md

fix failing tests
  handler/article.go
  handler/article_test.go
  handler/handler_test.go
  handler/response.go
  handler/user_test.go
  store/article.go
Due: none

add more go version for travis build
  .travis.yml
Due: none

Add official registry to npmrc
  .lintstagedrc
  .npmrc
  package.json
Due: yarn format:json

Upgrade devDependencies
  package.json
  yarn.lock
Due: none

Upgrade bs-platform to 4.0.5
  package.json
  yarn.lock
Due: none

Upgrade enzyme and enzyme-adapter-react-16
  package.json
  yarn.lock
Due: none

Upgrade concurrently
  package.json
  yarn.lock
Due: none

Upgrade react-scripts to a671462c
  package.json
  yarn.lock
Due: none

Stick bs-platform and reason-react to specific version
  package.json
  yarn.lock
Due: none

Upgrade dependencies
  package.json
  yarn.lock
Due: none

Upgrade react to 16.5.0
  package.json
  yarn.lock
Due: none

add gaeron hot loader
  package.json
  src/client.js
  src/react/clientRouter.js
  webpack/config.client.js
Due: none

jshintrc
   .jshintrc
Due: none

removing stats file
  stats.json
Due: none

Remove followers count
  FRONTEND_INSTRUCTIONS.md
Due: yarn format:md

Initial revel commit
  app/controllers/app.go
  app/init.go
  app/views/App/Index.html
  app/views/debug.html
  app/views/errors/404.html
  app/views/errors/500.html
  app/views/flash.html
  app/views/footer.html
  app/views/header.html
  conf/app.conf
  conf/routes
  messages/sample.en
  public/css/bootstrap-3.3.6.min.css
  public/fonts/glyphicons-halflings-regular.ttf
  public/fonts/glyphicons-halflings-regular.woff
  public/fonts/glyphicons-halflings-regular.woff2
  public/img/favicon.png
  public/js/bootstrap-3.3.6.min.js
  public/js/jquery-2.2.4.min.js
  tests/apptest.go
Due: none

Path conditions:
  refmt --in-place: any of: {src,examples,__tests__}/**/*.{re,rei}
  yarn format:md: any of: **/*.md
  yarn format:json: any of: **/.*rc
