Repository gothinkster/realworld-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: refmt --in-place, yarn format:md, yarn format:json

.lintstagedrc:

{
  "{src,examples,__tests__}/**/*.{re,rei}": ["refmt --in-place", "git add"],
  "**/*.md": ["yarn format:md", "git add"],
  "**/.*rc": ["yarn format:json", "git add"]
}

Deploy to surge (https://reason-react-realworld-example-app.surge.sh/)
  README.md
  package.json
Due: yarn format:md

Add live demo description to README
  README.md
Due: yarn format:md

Fix invalid "RealWorld" link
  README.md
Due: yarn format:md

profile, follow and article handlers
  database/db.go
  handler/.gitkeep
  handler/article.go
  handler/article_test.go
  handler/handler_test.go
  handler/request.go
  handler/routes.go
  handler/user.go
  handler/user_test.go
  models/.gitkeep
  models/article.go
  models/user.go
Due: none

Remove unnecessary CSS and png
  src/App.css
  src/App.re
  src/index.css
  src/index.js
  src/logo.svg
Due: refmt --in-place

Add supports for travis
  .travis.yml
  README.md
Due: yarn format:md

Fix wrong travis link
  README.md
Due: yarn format:md

Fix travis build badge broken
  README.md
Due: yarn format:md

Build *.re only for CI
  .travis.yml
Due: none

Refactor isAuthor to a function
  src/Article.re
Due: refmt --in-place

Redirect to login page when click on follow or favorite button in Article page
  src/Article.re
Due: refmt --in-place

Implement follow and favorite button in Article page (WIP)
  src/Article.re
Due: refmt --in-place

Add loading state to follow and favorite in Article
  src/API.re
  src/Article.re
Due: refmt --in-place

Implement oppsoite action for follow and favorite
  src/Article.re
Due: refmt --in-place

Add `predeploy` script
  package.json
Due: none

article feed, retrive and create
  handler/article.go
  handler/article_test.go
  handler/handler_test.go
  handler/request.go
Due: none

now all handler just work, lets do some refactor and get remaining tests done
  handler/article.go
  handler/request.go
Due: none

Upgrade bs-platform to 3.1.0
  package.json
  yarn.lock
Due: none

add CORS and RemoveTrailingSlash middlewares
  router/router.go
Due: none

fix article bugs
  handler/article.go
  handler/request.go
  models/article.go
Due: none

Upgrade bs-platform to 3.1.4 and react to 16.4
  package.json
  yarn.lock
Due: none

Upgrade reason-react to 0.4.2
  package.json
  yarn.lock
Due: none

fix access to public routes
  Makefile
  database/db.go
  handler/article.go
  handler/article_test.go
  handler/handler.go
  handler/handler_test.go
  handler/request.go
  handler/user.go
  handler/user_test.go
  models/user.go
  router/middleware/jwt.go
  utils/jwt.go
Due: none

Upgrade prettier to 1.13.0
  package.json
  yarn.lock
Due: none

Upgrade bs-platform to 3.1.5
  package.json
  yarn.lock
Due: none

Use Belt.Result instead of Js.Belt
  src/API.re
  src/App.re
  src/Article.re
  src/Editor.re
  src/Home.re
  src/Login.re
  src/Profile.re
  src/Register.re
  src/Settings.re
Due: refmt --in-place

Refactor API.re functions
  src/API.re
Due: refmt --in-place

Use labelled arguments for all functions in API.re
  src/API.re
  src/Article.re
  src/Editor.re
  src/Home.re
  src/Login.re
  src/Profile.re
  src/Register.re
  src/Settings.re
Due: refmt --in-place

fix follow bug
  handler/user.go
Due: none

Upgrade dependencies
  package.json
  yarn.lock
Due: none

update deps and fix missing jwt token
  Gopkg.lock
  Gopkg.toml
  handler/article.go
  handler/handler.go
  handler/user.go
  router/middleware/jwt.go
  utils/errors.go
Due: none

update readme
  BACKEND_INSTRUCTIONS.md
  FRONTEND_INSTRUCTIONS.md
  MOBILE_INSTRUCTIONS.md
  handler/article_test.go
  logo.png
  readme.md
Due: yarn format:md

Refactor fetch initialization function
  src/API.re
Due: refmt --in-place

initial reafactors
  article/article.go
  article/http/article.go
  article/http/handler.go
  article/http/request.go
  article/http/response.go
  article/http/routes.go
  article/storage/article.go
  db/db.go
  handler/article.go
  models/article.go
  models/user.go
  user/http/handler.go
  user/http/request.go
  user/http/response.go
  user/http/routes.go
  user/http/user.go
  user/storage/user.go
  user/user.go
  utils/errors.go
Due: none

refactor extract db logic to store
  Gopkg.lock
  article/article.go
  article/http/article.go
  article/http/handler.go
  article/http/request.go
  article/http/routes.go
  article/storage/article.go
  db/db.go
  handler/article.go
  handler/article_test.go
  handler/handler.go
  handler/handler_test.go
  handler/request.go
  handler/response.go
  handler/routes.go
  handler/user.go
  handler/user_test.go
  main.go
  model/article.go
  model/user.go
  store/article.go
  store/user.go
  user/http/handler.go
  user/http/request.go
  user/http/response.go
  user/http/routes.go
  user/http/user.go
  user/storage/user.go
  user/user.go
  utils/errors.go
Due: none

Upgrade concurrently
  package.json
  yarn.lock
Due: none

add user tests
  db/db.go
  handler/handler_test.go
  handler/user.go
  handler/user_test.go
Due: none

use echo as a global for tests
  handler/handler_test.go
  handler/user_test.go
Due: none

articles tests
  handler/article_test.go
  handler/handler_test.go
Due: none
