Repository gothinkster/realworld-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:re, yarn format:md, yarn format:json

.lintstagedrc:

{
  "{src,examples,__tests__}/**/*.{re,rei}": ["yarn format:re", "git add"],
  "./*.md": ["yarn format:md", "git add"],
  "./.{husky,lintstaged,prettier}rc": ["yarn format:json", "git add"]
}

Upgrade bs-platform to 4.0.6, react-scripts to 2.0.4
  package.json
  yarn.lock
Due: none

Use react-app-rewired and customize-cra to customize webpack config
  config-overrides.js
  package.json
  src/HotApp.js
  src/index.js
  yarn.lock
Due: none

create basic structure
  .env.dist
  .gitignore
  app/controllers/app.go
  app/controllers/article.go
  app/controllers/comment.go
  app/controllers/favorite.go
  app/controllers/tag.go
  app/controllers/user.go
  app/init.go
  app/models/article.go
  app/models/comment.go
  app/models/favorite.go
  app/models/tag.go
  app/models/user.go
  conf/app.conf
  conf/routes
  docker-compose.yml
  docker/go/Dockerfile
Due: none

Upgrade remotedata-re to 0.2.1
  package.json
  src/App.re
  src/Article.re
  src/Comment.re
  src/Editor.re
  src/Home.re
  src/PrivateRoute.re
  src/Profile.re
  src/Types.re
  src/Utils.re
  yarn.lock
Due: yarn format:re

Properly handle loading state for articles
  src/API.re
  src/ArticleItem.re
  src/Errors.re
  src/FormBody.re
  src/Home.re
  src/Img.re
  src/Login.re
  src/Pagination.re
  src/Register.re
  src/Settings.re
Due: yarn format:re

Change bsconfig module from commonjs to es6
  bsconfig.json
  src/HotApp.js
Due: none

Revert es6 module config back to commonjs (it won't works in test)
  bsconfig.json
  package.json
  src/HotApp.js
Due: none

Add <StrictMode>
  src/HotApp.js
Due: none

Use react-test-library instead of Enzyme
  bsconfig.json
  package.json
  src/__tests__/API_test.re
  src/__tests__/App_test.re
  src/__tests__/__snapshots__/App_test.bs.js.snap
  src/setupTests.js
  yarn.lock
Due: yarn format:re

Add -clean-world to pretest
  package.json
Due: none

Remove dependencies "version" in README
  README.md
Due: yarn format:md

logo
  logo.png
Due: none

Upgrade react-scripts to 2.0.5
  package.json
  yarn.lock
Due: none

Use JSX fragment
  src/Comment.re
  src/Fragment.re
Due: yarn format:re

Remove unuse Enzyme module
  src/Enzyme.re
Due: yarn format:re

Refactor header construction code
  src/API.re
  src/__tests__/__snapshots__/API_test.bs.js.snap
Due: yarn format:re

Use Printf.sprintf to concat complex string
  src/API.re
Due: yarn format:re

Refactor API.re with fast pipe syntax
  src/API.re
Due: yarn format:re

Remove optToQueryString helper and refactor getResultIfOk
  src/API.re
  src/__tests__/API_test.re
Due: yarn format:re

Upgrade react to 16.6.0
  package.json
  yarn.lock
Due: none

Upgrade bs-platform to 4.0.7
  package.json
  yarn.lock
Due: none

Upgrade bs-jest to 0.4.5 (required by bs-platform 4.0.7)
  package.json
  yarn.lock
Due: none

Upgrade dependencies
  package.json
  yarn.lock
Due: none

Upgrade react to 16.6.1
  package.json
  yarn.lock
Due: none

Install let-anything and try to refactor small code
  bsconfig.json
  src/App.re
  src/Lets.re
Due: yarn format:re

Refactor API.toResult by using Lets.Async
  src/API.re
Due: yarn format:re

Use fast-pipe for better indentation
  src/App.re
Due: yarn format:re

Use npm package instead of local copy
  bsconfig.json
  package.json
  yarn.lock
Due: none

Refactor small portion of code
  src/App.re
Due: yarn format:re

Remove redundant relative path
  bsconfig.json
Due: none

Use node_js 9 and install yarn 1.12.3-1
  .travis.yml
Due: none

Fix register API using wrong content-type
  src/API.re
Due: yarn format:re

Remove "let-anything" PPX
  bsconfig.json
  package.json
  src/API.re
  src/App.re
  src/Lets.re
  yarn.lock
Due: yarn format:re

Fix unit test regression
  src/API.re
  src/__tests__/API_test.re
Due: yarn format:re

Upgrade minor / patch version of dependencies
  package.json
  yarn.lock
Due: none

Remove "customize-cra" dependency
  config-overrides.js
  package.json
  yarn.lock
Due: none

Upgrade husky to 1.3.1
  package.json
  yarn.lock
Due: none

Add warnings.error +101 to bsconfig
  bsconfig.json
Due: none
