Repository gothinkster/realworld-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:re, yarn format:md, yarn format:json

Add support for Coveralls
  .travis.yml
  README.md
  package-lock.json
  package.json
Due: yarn format:md

Create LICENSE.md
  LICENSE.md
Due: yarn format:md

Add license badge
  README.md
Due: yarn format:md

Add Github commit activity
  README.md
Due: yarn format:md

Add Github last commit badge
  README.md
Due: yarn format:md

Add ReasonReact and ReasonML website links
  README.md
Due: yarn format:md

Implement login
  src/API.re
  src/App.re
  src/Login.re
  src/Shape.re
  src/Utils.re
Due: yarn format:re

Implement register page
  src/API.re
  src/App.re
  src/Article.re
  src/Register.re
  src/Settings.re
  src/Shape.re
Due: yarn format:re

Add logout button on Settings page
  src/Settings.re
  src/Utils.re
Due: yarn format:re

Add huge banner on the bottom
  src/Footer.re
Due: yarn format:re

Upgrade react to 16.13.0
  package-lock.json
  package.json
Due: none

Upgrade bs-platform to 7.1.1
  package-lock.json
  package.json
  src/Shape.re
Due: yarn format:re

Add -48: turn off 'implicit elimination of optional arguments' warning. to bsconfig
  bsconfig.json
  src/Link.re
Due: yarn format:re

upgrade to latest pyramid_openapi3 beta
  poetry.lock
  pyproject.toml
Due: none

Upgrade bs-platform to 7.2.1
  package-lock.json
  package.json
Due: none

Upgrade bs-jest-fetch-mock to 2.0
  package-lock.json
  package.json
  src/__tests__/TestUtils.re
Due: yarn format:re

Refactor API.Endpoints modules
  src/API.re
  src/Home.re
Due: yarn format:re

Move API.Endpoints module to a dedicated file
  src/API.re
  src/Endpoints.re
Due: yarn format:re

Format Endpoints.re file
  src/Endpoints.re
Due: yarn format:re

Move header relevant helpers to Headers module
  src/API.re
Due: yarn format:re

Refactor Error.t, add helpers
  src/API.re
  src/Editor.re
  src/Error.re
  src/Login.re
  src/Register.re
  src/Settings.re
Due: yarn format:re

Remove unnecessary Relude prefix
  src/API.re
Due: yarn format:re

Move actions type to Action module
  src/API.re
  src/Home.re
  src/Hook.re
  src/Profile.re
  src/__tests__/TestUtils.re
Due: yarn format:re

Add type definition to each functions in API module
  src/API.re
Due: yarn format:re

Open Relude.Globals on the top
  src/Header.re
  src/__tests__/App_test.re
Due: yarn format:re

Skip the work-around in TestUtils
  src/__tests__/TestUtils.re
Due: yarn format:re

Move mock data to dedicated file
  src/__tests__/Home_test.re
  src/__tests__/TestUtils.re
  src/sampleData/article.js
  src/sampleData/articles.js
  src/sampleData/comments.js
  src/sampleData/profile.js
  src/sampleData/tags.js
  src/sampleData/user.js
Due: yarn format:re

Move SampleData moulde to a dedicated file
  src/__tests__/SampleData.re
  src/__tests__/TestUtils.re
  src/sampleData/article.js
  src/sampleData/articles.js
  src/sampleData/comments.js
  src/sampleData/profile.js
  src/sampleData/tags.js
  src/sampleData/user.js
Due: yarn format:re

Add Review deploy status action
  .github/workflows/reviewapp_test.yml
Due: none

upgrade to latest openapi-core 0.13.3
  poetry.lock
  pyproject.toml
Due: none

Add GitHub action to auto update nixpkgs
  .github/workflows/nixpkgs-update.sh
  .github/workflows/nixpkgs-update.yml
  Dockerfile
  nixpkgs.json
  shell.nix
Due: none

Update Python packages
  poetry.lock
Due: none

Move page relavant components to a dedicated folder
  bsconfig.json
  src/page/Article.re
  src/page/Editor.re
  src/page/Footer.re
  src/page/Header.re
  src/page/Home.re
  src/page/Login.re
  src/page/Profile.re
  src/page/Register.re
  src/page/Settings.re
Due: yarn format:re

Create a component folder
  bsconfig.json
  src/component/DetailErrorMessage.re
  src/component/Link.re
  src/component/Link.rei
  src/component/Pagination.re
  src/component/Route.re
  src/component/Security.re
  src/component/Spinner.re
  src/component/WithTestId.re
Due: yarn format:re

Create a shared folder
  bsconfig.json
  src/shared/API.re
  src/shared/Endpoints.re
  src/shared/Error.re
  src/shared/EscapeHatch.js
  src/shared/EscapeHatch.re
  src/shared/Hook.re
  src/shared/Shape.re
  src/shared/Utils.re
Due: yarn format:re

Remove service worker and add lighthouse badge
  README.md
  src/index.js
  src/serviceWorker.js
Due: yarn format:md

Use realworld favicon instead of react
  public/favicon.ico
Due: none

Add async attribute to stylesheet tags
  public/index.html
Due: none

Move eslintConfig to package.json
  .eslintignore
  .eslintrc
  package.json
Due: none

Move prettier config to package.json
  .prettierrc
  package.json
Due: yarn format:json

Path conditions:
  yarn format:re: any of: {src,examples,__tests__}/**/*.{re,rei}
  yarn format:md: any of: ./*.md
  yarn format:json: any of: ./.{husky,lintstaged,prettier}rc
