Repository gothinkster/realworld-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:re, yarn format:md, yarn format:json

Add package.json to prettierignore
  .prettierignore
  package.json
Due: none

Upgrade dependencies
  package-lock.json
  package.json
Due: none

Rename DetailErrorMessage to ErrorDetails
  src/component/ErrorDetails.re
  src/page/Editor.re
  src/page/Register.re
  src/page/Settings.re
Due: yarn format:re

Refactor Pagination component
  src/component/Pagination.re
Due: yarn format:re

Remove fast pipe usage
  src/__tests__/Home_test.re
  src/component/Link.re
  src/component/Pagination.re
  src/page/Article.re
  src/page/Editor.re
  src/page/Footer.re
  src/page/Header.re
  src/page/Home.re
  src/page/Login.re
  src/page/Profile.re
  src/page/Register.re
  src/page/Settings.re
  src/shared/Utils.re
Due: yarn format:re

Use Relude.Array instead of Belt.Array
  src/__tests__/Home_test.re
  src/page/Home.re
  src/shared/Hook.re
  src/shared/Shape.re
Due: yarn format:re

Use nix-shell as shebang in the release script
  .heroku/release.sh
  heroku.yml
Due: none

update to latest release of pyramid_openapi
  poetry.lock
  pyproject.toml
Due: none

isort too should be set to line-length of 88
  .isort.cfg
Due: none

nix-shell: remove cf-private for darwin
  shell.nix
Due: none

Add step to clone project
  readme.md
Due: yarn format:md

Use sqlalchemy-stubs for even better type checking
  poetry.lock
  pyproject.toml
  src/conduit/article/models.py
  src/conduit/auth/models.py
  src/conduit/comment/models.py
  src/conduit/conftest.py
Due: none

fix reviewapp deployment
  app.json
Due: none

Improvements to Makefile
  .aspell.en.pws
  .circleci/config.yml
  .pre-commit-config.yaml
  Makefile
  bandit.yaml
Due: none

garden
  .pre-commit-config.yaml
Due: none

Even faster `make lint`
  Makefile
Due: none

Improve docker entrypoints
  .circleci/config.yml
  Dockerfile
  docker-entrypoints/README.md
  docker-entrypoints/develop.sh
  docker-entrypoints/run.sh
  docker-entrypoints/test.sh
  shell.nix
Due: yarn format:md

update to neo v1.1.15, replaced bulkConfigUpdate with set
  apps/realworld/view/HomeComponent.mjs
  apps/realworld/view/MainContainerController.mjs
  apps/realworld/view/article/Component.mjs
  apps/realworld/view/article/CreateCommentComponent.mjs
  apps/realworld/view/article/CreateComponent.mjs
  apps/realworld/view/article/PreviewComponent.mjs
  apps/realworld/view/user/ProfileComponent.mjs
  apps/realworld/view/user/SettingsComponent.mjs
  dist/development/apps/realworld/app.js
  package.json
Due: none

cleanup
  apps/realworld/view/HeaderComponent.mjs
  apps/realworld/view/HomeComponent.mjs
  apps/realworld/view/user/ProfileComponent.mjs
  apps/realworld/view/user/SettingsComponent.mjs
Due: none

uncommented api testing logs, added a login delay of 200ms (timing issue in dist/prod)
  apps/realworld/api/Base.mjs
  apps/realworld/view/MainContainerController.mjs
Due: none

neo v1.1.16, build dev & prod
  dist/development/apps/realworld/app.js
  dist/development/dataworker.js
  dist/development/main.js
  dist/development/vdomworker.js
  dist/production/dataworker.js
  dist/production/main.js
  dist/production/vdomworker.js
  package.json
Due: none

readme update
  README.md
  dist/production/apps/realworld/app.js
Due: yarn format:md

external app linking tests (todo: remove)
  README.md
Due: yarn format:md

neo v1.1.18, adjusted the api base class to not trigger onConstructed before the app worker is ready (webpack related issue => workaround)
  README.md
  apps/realworld/api/Base.mjs
  buildScripts/webpack/entrypoints/App.mjs
  buildScripts/webpack/entrypoints/myApps/RealWorld.mjs
  dist/development/apps/realworld/app.js
  dist/production/apps/realworld/app.js
  dist/production/dataworker.js
  dist/production/vdomworker.js
  package.json
Due: yarn format:md

v1.0.1
  package.json
Due: none

readme: adjusted the "Demo" link as well
  README.md
Due: yarn format:md

adjusted the buildScripts to be in sync with npx neo-app (& the latest neo version)
  buildScripts/entrypoints/Docs.mjs
  buildScripts/entrypoints/RealWorld.mjs
  buildScripts/myApps.json
  buildScripts/webpack/development/build.json
  buildScripts/webpack/development/json/myApps.json
  buildScripts/webpack/development/webpack.config.myapps.js
  buildScripts/webpack/entrypoints/myApps/RealWorld.mjs
  buildScripts/webpack/production/build.json
  buildScripts/webpack/production/json/myApps.json
  buildScripts/webpack/production/webpack.config.myapps.js
  dist/development/apps/realworld/app.js
  dist/development/docs/app.js
  dist/production/apps/realworld/app.js
  dist/production/dataworker.js
  dist/production/docs/app.js
  dist/production/main.js
  dist/production/vdomworker.js
  package.json
Due: none

v1.0.2
  package.json
Due: none

Upgrade dependencies #2
  package-lock.json
  package.json
Due: none

Upgrade prettier to 2.0
  package-lock.json
  package.json
Due: none

Upgrade relude to 0.59, bs-abstract is superseded by bs-bastet
  bsconfig.json
  package-lock.json
  package.json
Due: none

Upgrade bs-(dom|react)-testing-library to latest version
  package-lock.json
  package.json
  src/__tests__/App_test.re
  src/__tests__/Article_test.re
  src/__tests__/Editor_test.re
  src/__tests__/Home_test.re
  src/__tests__/Login_test.re
  src/__tests__/Profile_test.re
  src/__tests__/Register_test.re
  src/__tests__/Settings_test.re
  src/__tests__/TestUtils.re
  src/setupTests.js
Due: yarn format:re

Format all source code
  src/__tests__/App_test.re
  src/__tests__/Article_test.re
  src/__tests__/Editor_test.re
  src/__tests__/Home_test.re
  src/__tests__/Login_test.re
  src/__tests__/Profile_test.re
  src/__tests__/Register_test.re
  src/__tests__/Settings_test.re
  src/__tests__/TestUtils.re
Due: yarn format:re

Upgrade dependencies
  package-lock.json
  package.json
  src/__tests__/Article_test.re
  src/__tests__/Editor_test.re
  src/__tests__/Login_test.re
  src/__tests__/Profile_test.re
  src/__tests__/Register_test.re
  src/__tests__/Settings_test.re
  src/__tests__/TestUtils.re
Due: yarn format:re

Upgrade bs-platform to 7.3.1
  package-lock.json
  package.json
Due: none

Update to latest Hexagon version
  backend/build.gradle.kts
  backend/src/main/kotlin/com/hexagonkt/realworld/Application.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/RealWorldClient.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/WebApplicationTest.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/rest/CorsIT.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/it/ArticlesIT.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/it/CommentsIT.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/it/ProfilesRouterIT.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/it/RoutesIT.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/it/TagsIT.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/it/UserRouterIT.kt
  backend/src/test/kotlin/com/hexagonkt/realworld/routes/it/UsersRouterIT.kt
  build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Due: none

Update to latest Hexagon version
  docker-compose.yml
  gradle.properties
Due: none

Path conditions:
  yarn format:re: any of: {src,examples,__tests__}/**/*.{re,rei}
  yarn format:md: any of: ./*.md
  yarn format:json: any of: ./.{husky,lintstaged,prettier}rc
